# Ambiente virtual
.venv/

# Variáveis de ambiente
.env

# Cache Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/

# PyCharm
.idea/

# VS Code
.vscode/

# Banco local
*.db
*.sqlite
*.sqlite3

# Logs
*.log
logs/

# Arquivos temporários
*.tmp
