# Ambiente virtual
.venv/

# Variáveis de ambiente
.env

# Cache Python
__pycache__/
*.py[cod]

# PyCharm
.idea/

# VS Code
.vscode/

# Banco local
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Arquivos temporários
*.tmp